/* Google Fonts: fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,700&display=swap');

/* Global body padding */
body {
  margin: 0;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.9),rgba(38,50,56,0.6)), url("../img/crack-wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "IBM Plex Mono", monospace;
}

@media (min-width: 768px) {
  body {
    padding-top:    0px;
    padding-bottom: 50px;
  }
}

.content {
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

/* Particles.js canvas container */
#particlesjs canvas{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -6;
    -webkit-appearance: none;
}

/* Social buttons group */
#social {
  position: fixed;
  z-index: 1;
  top: 1rem;
  right: 1rem;
}

@media (max-width: 1000px) {
  #social {
    display: none;
  }
}

#hero-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}

/* Text typing animation data scroll */
#hero-text-title{
  display: block;
  padding-top: 5vh;
  margin-bottom: 5vh;
  color: #FFFFFF;
  font-weight: 900;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  -webkit-appearance: none;
  align-self: flex-start;

}
/* Typewriter component */
/* Disable text-decorations over link. */
.typewrite,.typewrite:hover,.typewrite:visited,.typewrite:active{
    color:white; /* Persistent text color state */
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

.brand-title {
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 0.35em;
  margin-left: 1rem;
}
.brand-logo {
  display: block;
  margin: auto;
}

.brand-logo-caption {
  margin-top: 10px;
  text-align: left;
  color: #FFFFFF;
}

@media (min-width: 1000px) {
  .sidebar-nav{
    position: fixed;
    height: 100%;
    bottom: 0px;
    padding-right: 0.35rem;
    border-right: 2px solid #434857;
  }
  .sidebar-nav::-webkit-scrollbar { width: 0.0em; }
  .content {
    padding-left:0vw;
  }
}

#link_tw {
  text-decoration: none;
  color: #FFFFFF;
}

#link_tw:hover {
  text-decoration: none;
  color: #434857;
  background-color: #FFFFFF;
}

.hovering_button {
  font-weight: 900;
  letter-spacing: 0.35em;
  border: 1px solid #FFFFFF;
  padding: 10px 30px;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  /* border: 1px solid #F95759;*/
  text-align: center;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 300ms;
  text-transform: uppercase;
  margin-top: 2em;
}

.hovering_button:hover {
  cursor: pointer;
  box-shadow: 0px 37px 20px -15px rgba(255, 255, 255, 0.35);
  transform: translate(0px, -10px);
  background-color: #fff;
  color: #4285f4;
}

/* Global spacing overrides */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-fixed-top,
.navbar-static-top {
  border-bottom: 0;
}

#industry {
  align-items: flex-end;
}

.row__spaced {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}

.row__spaced > img {
  width: 36px;
}